schema/adbs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ciax.sum.naoj.org/ciax-xml/adbs" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:adbs="http://ciax.sum.naoj.org/ciax-xml/adbs" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="repeat.xsd" />
  <xsd:attributeGroup name="id_attr">
    <xsd:attribute name="id" type="xsd:token" use="required" />
    <xsd:attribute name="label" type="xsd:token" use="optional"></xsd:attribute>
  </xsd:attributeGroup>
  <xsd:attributeGroup name="ref_attr">
    <xsd:attribute name="ref" type="xsd:token" use="required" />
    <xsd:attribute name="index" type="xsd:token" use="optional" />
    <xsd:attribute name="label" type="xsd:token" use="optional"></xsd:attribute>
  </xsd:attributeGroup>
  <!--status & group-->
  <xsd:group name="group">
    <xsd:choice>
      <xsd:choice minOccurs="1" maxOccurs="unbounded">
        <xsd:element ref="adbs:row"></xsd:element>
        <xsd:element ref="adbs:repeat"></xsd:element>
      </xsd:choice>
      <xsd:sequence maxOccurs="unbounded">
        <xsd:element ref="adbs:group"></xsd:element>
      </xsd:sequence>
    </xsd:choice>
  </xsd:group>
  <xsd:element name="status">
    <xsd:complexType>
      <xsd:group ref="adbs:group" />
      <xsd:attribute name="table" type="xsd:NCName" use="optional" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="group">
    <xsd:complexType>
      <xsd:choice minOccurs="1" maxOccurs="unbounded">
        <xsd:element ref="adbs:row"></xsd:element>
        <xsd:element ref="adbs:repeat"></xsd:element>
      </xsd:choice>
      <xsd:attributeGroup ref="adbs:id_attr"></xsd:attributeGroup>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="row">
    <xsd:complexType>
      <xsd:choice minOccurs="1" maxOccurs="unbounded">
        <xsd:element ref="adbs:value"></xsd:element>
        <xsd:element ref="adbs:repeat"></xsd:element>
      </xsd:choice>
      <xsd:attribute name="label" type="xsd:token" use="optional" />
      <xsd:attribute name="width" type="xsd:int" use="optional" />
    </xsd:complexType>
  </xsd:element>
  <!--values-->
  <xsd:element name="repeat">
    <xsd:complexType>
      <xsd:choice>
        <xsd:choice minOccurs="1" maxOccurs="unbounded">
          <xsd:element ref="adbs:row"></xsd:element>
          <xsd:element ref="adbs:value"></xsd:element>
        </xsd:choice>
        <xsd:sequence maxOccurs="unbounded">
          <xsd:element ref="adbs:group"></xsd:element>
        </xsd:sequence>
      </xsd:choice>
      <xsd:attributeGroup ref="adbs:repeat" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="value">
    <xsd:complexType>
      <xsd:choice minOccurs="0">
        <xsd:element ref="adbs:binary" maxOccurs="unbounded" />
        <xsd:element ref="adbs:string" maxOccurs="unbounded" />
        <xsd:element ref="adbs:float" maxOccurs="unbounded" />
        <xsd:element ref="adbs:int" maxOccurs="unbounded" />
      </xsd:choice>
      <xsd:attributeGroup ref="adbs:id_attr"></xsd:attributeGroup>
      <xsd:attribute name="symbol" type="xsd:NCName" />
      <xsd:attribute name="format" type="xsd:token" use="optional" />
    </xsd:complexType>
  </xsd:element>
  <!--data type in value-->
  <xsd:element name="binary">
    <xsd:complexType>
      <xsd:attributeGroup ref="adbs:ref_attr" />
      <xsd:attribute name="bit" type="xsd:token" use="required" />
      <xsd:attribute name="inv" type="xsd:boolean" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="float">
    <xsd:complexType>
      <xsd:attributeGroup ref="adbs:ref_attr" />
      <xsd:attribute name="formula" type="xsd:token" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="int">
    <xsd:complexType>
      <xsd:attributeGroup ref="adbs:ref_attr" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="string">
    <xsd:complexType>
      <xsd:attributeGroup ref="adbs:ref_attr" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>