schema/cdb.xsd

<?xml version="1.0" encoding="shift_jis"?>
<xsd:schema targetNamespace="http://ciax.sum.naoj.org/ciax-xml/cdb" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cdb="http://ciax.sum.naoj.org/ciax-xml/cdb" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="libdb.xsd" />
  <xsd:element name="cdb">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="cdb:class" minOccurs="1" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:attributeGroup name="id_attr">
    <xsd:attribute name="id" type="xsd:string" use="required" />
    <xsd:attribute name="label" type="xsd:string" use="optional"></xsd:attribute>
  </xsd:attributeGroup>
  <xsd:element name="class">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="cdb:commands" minOccurs="0" maxOccurs="1"></xsd:element>
        <xsd:element ref="cdb:events" minOccurs="0" maxOccurs="1"></xsd:element>
        <xsd:element ref="cdb:status" minOccurs="1" maxOccurs="1" />
      </xsd:sequence>
      <xsd:attributeGroup ref="cdb:id_attr"></xsd:attributeGroup>
      <xsd:attribute name="device" type="xsd:string" use="required" />
    </xsd:complexType>
  </xsd:element>
  <!--Share-->
  <xsd:element name="repeat">
    <xsd:complexType>
      <xsd:choice>
        <xsd:choice minOccurs="1" maxOccurs="unbounded">
          <xsd:element ref="cdb:statement"></xsd:element>
          <xsd:element ref="cdb:repeat" />
        </xsd:choice>
        <xsd:element minOccurs="1" maxOccurs="unbounded" ref="cdb:value" />
        <xsd:choice minOccurs="1" maxOccurs="unbounded">
          <xsd:element ref="cdb:while" />
          <xsd:element ref="cdb:change" />
        </xsd:choice>
      </xsd:choice>
      <xsd:attributeGroup ref="cdb:repeat" />
    </xsd:complexType>
  </xsd:element>
  <!--command select-->
  <xsd:element name="commands">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="cdb:session" minOccurs="1" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="session"></xsd:element>
  <!--command statement-->
  <xsd:element name="statement">
    <xsd:complexType>
      <xsd:choice minOccurs="1" maxOccurs="unbounded">
        <xsd:element ref="cdb:text" />
        <xsd:element ref="cdb:formula" />
      </xsd:choice>
      <xsd:attribute name="label" type="xsd:string" use="optional"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="text" type="xsd:string"></xsd:element>
  <xsd:element name="formula">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute name="format" type="xsd:string"></xsd:attribute>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <!--command events-->
  <xsd:element name="events">
    <xsd:complexType>
      <xsd:choice minOccurs="1" maxOccurs="unbounded">
        <xsd:element ref="cdb:while" />
        <xsd:element ref="cdb:change" />
        <xsd:element ref="cdb:repeat" />
      </xsd:choice>
      <xsd:attribute name="interval" type="xsd:int" use="optional"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:attributeGroup name="attr_event">
    <xsd:attribute name="label" type="xsd:string" use="optional"></xsd:attribute>
    <xsd:attribute name="ref" type="xsd:string" use="required"></xsd:attribute>
    <xsd:attribute name="val" type="xsd:string" use="required"></xsd:attribute>
  </xsd:attributeGroup>
  <xsd:element name="while">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="cdb:blocking" minOccurs="0" maxOccurs="1"></xsd:element>
        <xsd:element ref="cdb:interrupt" minOccurs="0" maxOccurs="1"></xsd:element>
        <xsd:element ref="cdb:execution" minOccurs="0" maxOccurs="1"></xsd:element>
      </xsd:sequence>
      <xsd:attributeGroup ref="cdb:attr_event" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="change">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="cdb:execution" minOccurs="0" maxOccurs="1"></xsd:element>
      </xsd:sequence>
      <xsd:attributeGroup ref="cdb:attr_event" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="blocking" type="xsd:string"></xsd:element>
  <xsd:element name="interrupt" type="xsd:string"></xsd:element>
  <xsd:element name="execution" type="xsd:string"></xsd:element>
  <!--status-->
  <xsd:element name="status">
    <xsd:complexType>
      <xsd:choice minOccurs="1" maxOccurs="unbounded">
        <xsd:element ref="cdb:value"></xsd:element>
        <xsd:element ref="cdb:repeat"></xsd:element>
      </xsd:choice>
      <xsd:attribute name="ref" type="xsd:string" use="optional" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="value">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="cdb:string" />
        <xsd:element ref="cdb:binary" />
        <xsd:element ref="cdb:float" />
        <xsd:element ref="cdb:int" />
      </xsd:choice>
      <xsd:attribute name="format" type="xsd:string" use="required" />
      <xsd:attributeGroup ref="cdb:id_attr"></xsd:attributeGroup>
    </xsd:complexType>
  </xsd:element>
  <!--data type in value-->
  <xsd:element name="binary">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute name="bit" type="xsd:int" use="required" />
          <xsd:attribute name="inv" type="xsd:boolean" />
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="float">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute name="decimal" type="xsd:integer" />
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="int">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute name="signed" type="xsd:boolean" />
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="string" type="xsd:string"></xsd:element>
</xsd:schema>