schema/cdb.xsd

<?xml version="1.0" encoding="shift_jis"?>
<xsd:schema targetNamespace="http://ciax.sum.naoj.org/ciax-xml/cdb" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cdb="http://ciax.sum.naoj.org/ciax-xml/cdb" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="repeat.xsd" />
  <xsd:include schemaLocation="param.xsd" />
  <xsd:element name="cdb">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="cdb:class" minOccurs="1" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:attributeGroup name="id_attr">
    <xsd:attribute name="id" type="xsd:string" use="required" />
    <xsd:attribute name="label" type="xsd:string" use="optional"></xsd:attribute>
  </xsd:attributeGroup>
  <xsd:element name="class">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="cdb:commands" minOccurs="0" maxOccurs="1"></xsd:element>
        <xsd:element ref="cdb:watch" minOccurs="0" maxOccurs="1"></xsd:element>
        <xsd:element ref="cdb:status" minOccurs="1" maxOccurs="1" />
      </xsd:sequence>
      <xsd:attributeGroup ref="cdb:id_attr"></xsd:attributeGroup>
      <xsd:attribute name="device" type="xsd:string" use="required" />
    </xsd:complexType>
  </xsd:element>
  <!--Share-->
  <xsd:element name="repeat">
    <xsd:complexType>
      <xsd:choice minOccurs="1" maxOccurs="unbounded">
        <xsd:element ref="cdb:repeat" />
        <xsd:element ref="cdb:statement"></xsd:element>
        <xsd:element ref="cdb:value" />
        <xsd:element ref="cdb:event" />
      </xsd:choice>
      <xsd:attributeGroup ref="cdb:repeat" />
    </xsd:complexType>
  </xsd:element>
  <!--command select-->
  <xsd:element name="commands">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="cdb:session" minOccurs="1" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="session">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" ref="cdb:parameters" />
        <xsd:choice minOccurs="1" maxOccurs="unbounded">
          <xsd:element ref="cdb:statement" />
          <xsd:element ref="cdb:repeat" />
        </xsd:choice>
      </xsd:sequence>
      <xsd:attributeGroup ref="cdb:id_attr" />
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="condition">
    <xsd:attribute name="ref" type="xsd:string" use="required"></xsd:attribute>
    <xsd:attribute name="val" type="xsd:string"></xsd:attribute>
  </xsd:complexType>
  <!--command statement-->
  <xsd:element name="statement">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="cdb:argv" />
      </xsd:choice>
      <xsd:attribute name="label" type="xsd:string" use="optional"></xsd:attribute>
      <xsd:attribute name="format" type="xsd:string"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="argv" type="xsd:string"></xsd:element>
  <!--watch events-->
  <xsd:element name="watch">
    <xsd:complexType>
      <xsd:choice minOccurs="1" maxOccurs="unbounded">
        <xsd:element ref="cdb:event"></xsd:element>
        <xsd:element ref="cdb:repeat"></xsd:element>
      </xsd:choice>
      <xsd:attribute name="interval" type="xsd:int" use="required"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="event">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:choice>
          <xsd:element ref="cdb:onchange" />
          <xsd:element ref="cdb:until" />
          <xsd:element ref="cdb:while" />
          <xsd:element ref="cdb:periodic" />
        </xsd:choice>
        <xsd:element minOccurs="1" maxOccurs="unbounded" ref="cdb:command" />
      </xsd:sequence>
      <xsd:attribute name="label" type="xsd:string" />
      <xsd:attribute name="interrupt" type="xsd:string" />
      <xsd:attribute name="blocking" type="xsd:string"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="periodic">
    <xsd:complexType>
      <xsd:attribute name="label" type="xsd:string" />
      <xsd:attribute name="period" use="required" type="xsd:int"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="while" type="cdb:condition"></xsd:element>
  <xsd:element name="until" type="cdb:condition"></xsd:element>
  <xsd:element name="onchange" type="cdb:condition"></xsd:element>
  <xsd:element name="command" type="xsd:string"></xsd:element>
  <!--status-->
  <xsd:element name="status">
    <xsd:complexType>
      <xsd:choice minOccurs="1" maxOccurs="unbounded">
        <xsd:element ref="cdb:value"></xsd:element>
        <xsd:element ref="cdb:repeat"></xsd:element>
      </xsd:choice>
      <xsd:attribute name="ref" type="xsd:string" use="optional" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="value">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="cdb:string" />
        <xsd:element ref="cdb:binary" />
        <xsd:element ref="cdb:float" />
        <xsd:element ref="cdb:int" />
      </xsd:choice>
      <xsd:attribute name="format" type="xsd:string" use="required" />
      <xsd:attribute name="symbol" type="xsd:string" />
      <xsd:attributeGroup ref="cdb:id_attr"></xsd:attributeGroup>
    </xsd:complexType>
  </xsd:element>
  <!--data type in value-->
  <xsd:element name="binary">
    <xsd:complexType>
      <xsd:attribute name="ref" type="xsd:string" use="required" />
      <xsd:attribute name="bit" type="xsd:string" use="required" />
      <xsd:attribute name="inv" type="xsd:boolean" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="float">
    <xsd:complexType>
      <xsd:attribute name="ref" type="xsd:string" use="required" />
      <xsd:attribute name="decimal" type="xsd:integer" />
      <xsd:attribute name="formula" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="int">
    <xsd:complexType>
      <xsd:attribute name="ref" type="xsd:string" use="required" />
      <xsd:attribute name="signed" type="xsd:boolean" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="string">
    <xsd:complexType>
      <xsd:attribute name="ref" type="xsd:string" use="required" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>