schema/ddb.xsd

<?xml version="1.0" encoding="shift_jis"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ciax.sum.naoj.org/ciax-xml/ddb" xmlns:ddb="http://ciax.sum.naoj.org/ciax-xml/ddb">
  <!--Device database-->
  <xsd:include schemaLocation="range.xsd" />
  <xsd:include schemaLocation="repeat.xsd" />
  <xsd:include schemaLocation="param.xsd" />
  <xsd:element name="ddb">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ddb:device" minOccurs="1" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="device">
    <xsd:complexType>
      <xsd:sequence>
        <!--Protocol for RS232C-->
        <xsd:element ref="ddb:serial" minOccurs="0" maxOccurs="1" />
        <!--Command frame-->
        <xsd:element ref="ddb:cmdselect" minOccurs="1" maxOccurs="1"></xsd:element>
        <xsd:element ref="ddb:cmdccrange" minOccurs="0" maxOccurs="1"></xsd:element>
        <xsd:element ref="ddb:cmdframe" minOccurs="0" maxOccurs="1" />
        <!--Response frame-->
        <xsd:element ref="ddb:rspselect" minOccurs="1" maxOccurs="1"></xsd:element>
        <xsd:element ref="ddb:rspccrange" minOccurs="0" maxOccurs="1"></xsd:element>
        <xsd:element ref="ddb:rspframe" minOccurs="0" maxOccurs="1" />
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:string" use="required" />
      <xsd:attribute name="label" type="xsd:string" />
      <xsd:attribute name="reference" type="xsd:anyURI" />
      <xsd:attribute name="wait" type="xsd:float"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="serial">
    <xsd:complexType>
      <xsd:attribute name="speed">
        <xsd:simpleType>
          <xsd:restriction base="xsd:double">
            <xsd:enumeration value="300" />
            <xsd:enumeration value="600" />
            <xsd:enumeration value="1200" />
            <xsd:enumeration value="2400" />
            <xsd:enumeration value="4800" />
            <xsd:enumeration value="9600" />
            <xsd:enumeration value="19200" />
            <xsd:enumeration value="38400" />
            <xsd:enumeration value="56000" />
            <xsd:enumeration value="57600" />
            <xsd:enumeration value="115200" />
            <xsd:enumeration value="230400" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="databit">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="7" />
            <xsd:maxInclusive value="8" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="parity">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="NONE" />
            <xsd:enumeration value="EVEN" />
            <xsd:enumeration value="ODD" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="stopbit">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="1" />
            <xsd:maxInclusive value="2" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="flowctl">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="NONE" />
            <xsd:enumeration value="XONXOFF" />
            <xsd:enumeration value="CTSRTS" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <!--Shared frame-->
  <xsd:element name="ccrange">
    <xsd:complexType></xsd:complexType>
  </xsd:element>
  <xsd:element name="selected">
    <xsd:complexType></xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="codec">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="chr" />
      <xsd:enumeration value="hexstr" />
      <xsd:enumeration value="bew" />
      <xsd:enumeration value="lew"></xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ccmethod">
    <!--Check Code Method-->
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="bcc" />
      <xsd:enumeration value="sum" />
      <xsd:enumeration value="len" />
    </xsd:restriction>
  </xsd:simpleType>
  <!--Command Elements-->
  <xsd:element name="data">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute name="label" type="xsd:string" />
          <xsd:attribute name="encode" type="ddb:codec"></xsd:attribute>
          <xsd:attribute name="format" type="xsd:string"></xsd:attribute>
          <xsd:attribute name="type">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="text"></xsd:enumeration>
                <xsd:enumeration value="formula"></xsd:enumeration>
                <xsd:enumeration value="csv"></xsd:enumeration>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <!--Command Select-->
  <xsd:element name="cmdselect">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ddb:command" minOccurs="1" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="command">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ddb:parameters" minOccurs="0" maxOccurs="1" />
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element ref="ddb:data" />
          <xsd:element ref="ddb:repeat" />
        </xsd:choice>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:string" use="required" />
      <xsd:attribute name="label" type="xsd:string" />
      <xsd:attribute name="response" type="xsd:string" />
      <xsd:attribute name="nocache" type="xsd:boolean" />
      <xsd:attribute name="type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="stat" />
            <xsd:enumeration value="action" />
            <xsd:enumeration value="config" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="repeat">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="ddb:data" />
      </xsd:choice>
      <xsd:attributeGroup ref="ddb:repeat" />
      <xsd:attribute name="delimiter" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
  <!--Command CC-->
  <xsd:element name="cmdccrange">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="ddb:selected" />
        <xsd:element ref="ddb:data" />
      </xsd:choice>
      <xsd:attribute name="method" type="ddb:ccmethod"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <!--Command frame-->
  <xsd:element name="cmdframe">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="ddb:data" />
        <xsd:element ref="ddb:selected" />
        <xsd:element ref="ddb:ccrange" />
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!--Response Elements-->
  <xsd:attributeGroup name="rsp_attr">
    <xsd:attribute name="label" type="xsd:string" />
    <xsd:attribute name="assign" type="xsd:string" />
    <xsd:attribute name="verify" type="xsd:string" />
    <xsd:attribute name="decode" type="ddb:codec"></xsd:attribute>
    <xsd:attribute name="length" type="xsd:int" />
    <xsd:attribute name="slice" type="ddb:rerange" />
  </xsd:attributeGroup>
  <xsd:group name="rsp_elem">
    <xsd:choice>
      <xsd:element ref="ddb:field" />
      <xsd:element ref="ddb:array" />
    </xsd:choice>
  </xsd:group>
  <xsd:element name="field">
    <xsd:complexType>
      <xsd:attributeGroup ref="ddb:rsp_attr" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="array">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ddb:index" minOccurs="1" maxOccurs="unbounded" />
      </xsd:sequence>
      <xsd:attributeGroup ref="ddb:rsp_attr" />
    </xsd:complexType>
  </xsd:element>
  <!--Field Elements-->
  <xsd:element name="index">
    <xsd:complexType>
      <xsd:attribute name="size" type="xsd:int" use="required" />
      <xsd:attribute name="range" type="xsd:string" use="required" />
    </xsd:complexType>
  </xsd:element>
  <!--Response Select-->
  <xsd:element name="rspselect">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ddb:response" minOccurs="1" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="response">
    <xsd:complexType>
      <xsd:choice>
        <xsd:group minOccurs="0" maxOccurs="unbounded" ref="ddb:rsp_elem"></xsd:group>
      </xsd:choice>
      <xsd:attribute name="id" type="xsd:string" use="required" />
      <xsd:attribute name="label" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
  <!--Response CC-->
  <xsd:element name="rspccrange">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="ddb:selected" />
        <xsd:group ref="ddb:rsp_elem" />
      </xsd:choice>
      <xsd:attribute name="method" type="ddb:ccmethod" use="required"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <!--Response frame-->
  <xsd:element name="rspframe">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:group ref="ddb:rsp_elem" />
        <xsd:element ref="ddb:selected" />
        <xsd:element ref="ddb:ccrange" />
      </xsd:choice>
      <xsd:attribute name="terminator" type="xsd:string" />
      <xsd:attribute name="delimiter" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>