schema/fdbc.xsd

<?xml version="1.0" encoding="shift_jis"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ciax.sum.naoj.org/ciax-xml/fdbc" xmlns:fdbc="http://ciax.sum.naoj.org/ciax-xml/fdbc">
  <!--Device database-->
  <xsd:include schemaLocation="repeat.xsd" />
  <xsd:include schemaLocation="param.xsd" />
  <xsd:include schemaLocation="codec.xsd" />
  <!--Command Elements-->
  <xsd:element name="data">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute name="label" type="xsd:string" />
          <xsd:attribute name="encode" type="fdbc:codec"></xsd:attribute>
          <xsd:attribute name="format" type="xsd:string"></xsd:attribute>
          <xsd:attribute name="type">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="text"></xsd:enumeration>
                <xsd:enumeration value="formula"></xsd:enumeration>
                <xsd:enumeration value="csv"></xsd:enumeration>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <!--Command Select-->
  <xsd:element name="cmdselect">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="fdbc:command" minOccurs="1" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="command">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="fdbc:parameters" minOccurs="0" maxOccurs="1" />
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element ref="fdbc:data" />
          <xsd:element ref="fdbc:repeat" />
        </xsd:choice>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:string" use="required" />
      <xsd:attribute name="label" type="xsd:string" />
      <xsd:attribute name="response" type="xsd:string" />
      <xsd:attribute name="nocache" type="xsd:boolean" />
      <xsd:attribute name="type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="stat" />
            <xsd:enumeration value="action" />
            <xsd:enumeration value="config" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="repeat">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="fdbc:data" />
      </xsd:choice>
      <xsd:attributeGroup ref="fdbc:repeat" />
      <xsd:attribute name="delimiter" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
  <!--Command CC-->
  <xsd:element name="cmdccrange">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="fdbc:cmdselect" />
        <xsd:element ref="fdbc:data" />
      </xsd:choice>
      <xsd:attribute name="method" type="fdbc:ccmethod"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <!--Command frame-->
  <xsd:element name="cmdframe">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="fdbc:data" />
        <xsd:element ref="fdbc:cmdselect" />
        <xsd:element ref="fdbc:cmdccrange" />
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>