schema/mdb.xsd

<?xml version="1.0" encoding="shift_jis"?>
<xsd:schema targetNamespace="http://ciax.sum.naoj.org/ciax-xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cx="http://ciax.sum.naoj.org/ciax-xml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="mdb">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="cx:macro_group" minOccurs="1" maxOccurs="unbounded"></xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="macro_group">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="cx:macro" minOccurs="1" maxOccurs="unbounded"></xsd:element>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:string" use="required" />
      <xsd:attribute name="class" type="xsd:string" use="required" />
      <xsd:attribute name="label" type="xsd:string" use="optional" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="macro">
    <xsd:complexType>
      <xsd:choice minOccurs="1" maxOccurs="unbounded">
        <xsd:element ref="cx:break" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element ref="cx:pass" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element ref="cx:session" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element ref="cx:wait" minOccurs="0" maxOccurs="unbounded" />
      </xsd:choice>
      <xsd:attribute name="id" type="xsd:string" use="required" />
      <xsd:attribute name="label" type="xsd:string" use="optional" />
      <xsd:attribute name="argc" type="xsd:int" use="optional" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="wait">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="cx:break" minOccurs="0" maxOccurs="1" />
        <xsd:element ref="cx:session" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
      <xsd:attribute name="label" type="xsd:string" use="optional" />
      <xsd:attribute name="timeout" type="xsd:string" use="optional" />
      <xsd:attribute name="abort" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="condition">
    <xsd:sequence>
      <xsd:element ref="cx:item" minOccurs="1" maxOccurs="unbounded"></xsd:element>
    </xsd:sequence>
    <xsd:attribute name="label" type="xsd:string" use="optional" />
    <xsd:attribute name="combination">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="and" />
          <xsd:enumeration value="or" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="break" type="cx:condition"></xsd:element>
  <xsd:element name="pass" type="cx:condition"></xsd:element>
  <xsd:element name="item">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute name="stat" type="xsd:string" />
          <xsd:attribute name="field">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="msg" />
                <xsd:enumeration value="val" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
          <xsd:attribute name="ref" type="xsd:string" />
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="session">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="cx:text" minOccurs="1" maxOccurs="unbounded"></xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="text" type="xsd:string"></xsd:element>
</xsd:schema>