schema/odb.xsd

<?xml version="1.0" encoding="shift_jis"?>
<xsd:schema targetNamespace="http://ciax.sum.naoj.org/ciax-xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cx="http://ciax.sum.naoj.org/ciax-xml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="odb">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="cx:object" minOccurs="1" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="object">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="cx:controls" minOccurs="1" maxOccurs="1"></xsd:element>
        <xsd:element ref="cx:status" minOccurs="1" maxOccurs="1" />
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:string" use="required" />
      <xsd:attribute name="device" type="xsd:string" use="required" />
      <xsd:attribute name="label" type="xsd:string" use="optional" />
      <xsd:attribute name="client" type="xsd:string"></xsd:attribute>
      <xsd:attribute name="server" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
  <!--controls-->
  <xsd:element name="controls">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="cx:session" minOccurs="1" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="session">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="cx:command" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:string" use="required" />
      <xsd:attribute name="label" type="xsd:string" use="optional" />
      <xsd:attribute name="ref" type="xsd:string" use="optional" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="command">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="cx:par" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
      <xsd:attribute name="label" type="xsd:string" use="optional"></xsd:attribute>
      <xsd:attribute name="text" type="xsd:string" use="required" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="par">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute name="label" type="xsd:string" />
          <xsd:attribute name="type" use="required">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="formula" />
                <xsd:enumeration value="text" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <!--status-->
  <xsd:element name="status">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="cx:var" minOccurs="1" maxOccurs="unbounded" />
      </xsd:sequence>
      <xsd:attribute name="channels" type="xsd:int" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="var">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="cx:fields" minOccurs="1" maxOccurs="1" />
        <xsd:element ref="cx:symbol" minOccurs="0" maxOccurs="1" />
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:string" />
      <xsd:attribute name="label" type="xsd:string" />
      <xsd:attribute name="type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ENUM"></xsd:enumeration>
            <xsd:enumeration value="FLOAT" />
            <xsd:enumeration value="INT" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="fields">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element ref="cx:string" minOccurs="1" maxOccurs="unbounded" />
        <xsd:element ref="cx:binary" minOccurs="1" maxOccurs="unbounded" />
        <xsd:element ref="cx:float" minOccurs="1" maxOccurs="unbounded" />
        <xsd:element ref="cx:int" minOccurs="1" maxOccurs="unbounded" />
      </xsd:choice>
      <xsd:attribute name="id" type="xsd:string"></xsd:attribute>
      <xsd:attribute name="label" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="binary">
    <xsd:complexType>
      <xsd:attribute name="ref" type="xsd:string" use="required" />
      <xsd:attribute name="bit" type="xsd:int" use="required" />
      <xsd:attribute name="unpack" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="float">
    <xsd:complexType>
      <xsd:attribute name="ref" type="xsd:string" use="required" />
      <xsd:attribute name="decimal" type="xsd:integer" />
      <xsd:attribute name="format" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="int">
    <xsd:complexType>
      <xsd:attribute name="ref" type="xsd:string" use="required" />
      <xsd:attribute name="signed" type="xsd:boolean" />
      <xsd:attribute name="format" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="string">
    <xsd:complexType>
      <xsd:attribute name="ref" type="xsd:string" use="required" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="symbol">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="xsd:anyType">
          <xsd:choice>
            <xsd:element ref="cx:enum" minOccurs="1" maxOccurs="unbounded" />
            <xsd:element ref="cx:range" minOccurs="1" maxOccurs="unbounded" />
          </xsd:choice>
          <xsd:attribute name="type">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="enum" />
                <xsd:enumeration value="range" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="enum">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute name="msg" type="xsd:string" />
          <xsd:attribute name="hl">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="normal" />
                <xsd:enumeration value="warn" />
                <xsd:enumeration value="alarm" />
                <xsd:enumeration value="hide" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
          <xsd:attribute name="text" type="xsd:string" />
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="range">
    <xsd:complexType>
      <xsd:attribute name="msg" type="xsd:string" />
      <xsd:attribute name="hl">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="normal" />
            <xsd:enumeration value="warn" />
            <xsd:enumeration value="alarm" />
            <xsd:enumeration value="hide" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="max" type="xsd:float" />
      <xsd:attribute name="min" type="xsd:float" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>