schema/odb.xsd

<?xml version="1.0" encoding="shift_jis"?>
<xsd:schema targetNamespace="http://ciax.sum.naoj.org/ciax-xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cx="http://ciax.sum.naoj.org/ciax-xml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="odb">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="cx:object" minOccurs="1" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:attributeGroup name="id_attr">
    <xsd:attribute name="id" type="xsd:string" use="required" />
    <xsd:attribute name="label" type="xsd:string" use="optional"></xsd:attribute>
    <xsd:attribute name="ref" type="xsd:string" use="optional" />
  </xsd:attributeGroup>
  <xsd:element name="object">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="cx:selection" minOccurs="0" maxOccurs="1"></xsd:element>
        <xsd:element ref="cx:status" minOccurs="1" maxOccurs="1" />
        <xsd:element ref="cx:symbols" minOccurs="0" maxOccurs="1" />
      </xsd:sequence>
      <xsd:attributeGroup ref="cx:id_attr"></xsd:attributeGroup>
      <xsd:attribute name="device" type="xsd:string" use="required" />
      <xsd:attribute name="client" type="xsd:string"></xsd:attribute>
      <xsd:attribute name="server" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
  <!--command select-->
  <xsd:element name="selection">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="cx:session" minOccurs="1" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="session">
    <xsd:complexType>
      <xsd:choice minOccurs="1" maxOccurs="unbounded">
        <xsd:element ref="cx:statement" />
        <xsd:element ref="cx:repeat" />
      </xsd:choice>
      <xsd:attributeGroup ref="cx:id_attr"></xsd:attributeGroup>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="repeat">
    <xsd:complexType>
      <xsd:choice minOccurs="1" maxOccurs="unbounded">
        <xsd:element ref="cx:statement" />
      </xsd:choice>
      <xsd:attribute name="range" type="xsd:string" use="required" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="statement">
    <xsd:complexType>
      <xsd:choice minOccurs="1" maxOccurs="2">
        <xsd:element ref="cx:text" />
        <xsd:element ref="cx:eval" />
      </xsd:choice>
      <xsd:attribute name="label" type="xsd:string" use="optional"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="text" type="xsd:string"></xsd:element>
  <xsd:element name="eval" type="xsd:string"></xsd:element>
  <!--status-->
  <xsd:element name="status">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="cx:var" minOccurs="1" maxOccurs="unbounded" />
      </xsd:sequence>
      <xsd:attribute name="ref" type="xsd:string" use="optional" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="var">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="cx:string" />
        <xsd:element ref="cx:binary" />
        <xsd:element ref="cx:float" />
        <xsd:element ref="cx:int" />
      </xsd:choice>
      <xsd:attributeGroup ref="cx:id_attr"></xsd:attributeGroup>
      <xsd:attribute name="symbol" type="xsd:string" />
      <xsd:attribute name="trail" type="xsd:boolean" />
    </xsd:complexType>
  </xsd:element>
  <!--data type in field-->
  <xsd:element name="binary">
    <xsd:complexType>
      <xsd:attribute name="field" type="xsd:string" use="required" />
      <xsd:attribute name="bit" type="xsd:int" use="required" />
      <xsd:attribute name="inv" type="xsd:boolean" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="float">
    <xsd:complexType>
      <xsd:attribute name="field" type="xsd:string" use="required" />
      <xsd:attribute name="decimal" type="xsd:integer" />
      <xsd:attribute name="format" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="int">
    <xsd:complexType>
      <xsd:attribute name="field" type="xsd:string" use="required" />
      <xsd:attribute name="signed" type="xsd:boolean" />
      <xsd:attribute name="format" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="string">
    <xsd:complexType>
      <xsd:attribute name="field" type="xsd:string" use="required" />
    </xsd:complexType>
  </xsd:element>
  <!--symbol-->
  <xsd:element name="symbols">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="cx:symbol" minOccurs="1" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="symbol">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="xsd:anyType">
          <xsd:choice minOccurs="0">
            <xsd:element ref="cx:case" minOccurs="1" maxOccurs="unbounded" />
            <xsd:element ref="cx:range" minOccurs="1" maxOccurs="unbounded"></xsd:element>
          </xsd:choice>
          <xsd:attributeGroup ref="cx:id_attr"></xsd:attributeGroup>
          <xsd:attribute name="type">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="ENUM"></xsd:enumeration>
                <xsd:enumeration value="FLOAT" />
                <xsd:enumeration value="INT" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:attributeGroup name="symbol_attr">
    <xsd:attribute name="msg" type="xsd:string" use="required" />
    <xsd:attribute name="hl" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="normal" />
          <xsd:enumeration value="warn" />
          <xsd:enumeration value="alarm" />
          <xsd:enumeration value="hide" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:attributeGroup>
  <xsd:element name="case">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attributeGroup ref="cx:symbol_attr" />
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="range">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attributeGroup ref="cx:symbol_attr" />
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
