schema/odb.xsd

<?xml version="1.0" encoding="shift_jis"?>
<xsd:schema targetNamespace="http://ciax.sum.naoj.org/ciax-xml/odb" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:odb="http://ciax.sum.naoj.org/ciax-xml/odb" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="odb">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="odb:object" minOccurs="1" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:attributeGroup name="id_attr">
    <xsd:attribute name="id" type="xsd:string" use="optional" />
    <xsd:attribute name="label" type="xsd:string" use="optional"></xsd:attribute>
    <xsd:attribute name="ref" type="xsd:string" use="optional" />
  </xsd:attributeGroup>
  <xsd:element name="object">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="odb:comm" minOccurs="1" maxOccurs="1" />
        <xsd:element ref="odb:selection" minOccurs="0" maxOccurs="1"></xsd:element>
        <xsd:element ref="odb:status" minOccurs="1" maxOccurs="1" />
        <xsd:element ref="odb:symbols" minOccurs="0" maxOccurs="1" />
      </xsd:sequence>
      <xsd:attributeGroup ref="odb:id_attr"></xsd:attributeGroup>
    </xsd:complexType>
  </xsd:element>
  <!--comm-->
  <xsd:element name="comm">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="odb:device" minOccurs="1" maxOccurs="1"></xsd:element>
        <xsd:element ref="odb:client"></xsd:element>
        <xsd:element ref="odb:server"></xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="device" type="xsd:string"></xsd:element>
  <xsd:element name="client" type="xsd:string"></xsd:element>
  <xsd:element name="server" type="xsd:string" />
  <!--Share-->
  <xsd:element name="repeat">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element ref="odb:statement" minOccurs="1" maxOccurs="unbounded" />
        <xsd:element ref="odb:var" minOccurs="1" maxOccurs="unbounded" />
        <xsd:element ref="odb:group" minOccurs="1" maxOccurs="unbounded"></xsd:element>
        <xsd:element ref="odb:repeat" minOccurs="1" maxOccurs="unbounded"></xsd:element>
      </xsd:choice>
      <xsd:attribute name="from" use="required" type="xsd:int" />
      <xsd:attribute name="to" use="required" type="xsd:int" />
      <xsd:attribute name="format" type="xsd:string" />
      <xsd:attribute name="counter" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
  <!--command select-->
  <xsd:element name="selection">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="odb:session" minOccurs="1" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="session">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" ref="odb:parameters" />
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element ref="odb:statement" />
          <xsd:element ref="odb:repeat" />
        </xsd:choice>
      </xsd:sequence>
      <xsd:attributeGroup ref="odb:id_attr"></xsd:attributeGroup>
    </xsd:complexType>
  </xsd:element>
  <!--command param-->
  <xsd:element name="parameters">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="odb:par" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="par">
    <xsd:complexType>
      <xsd:choice minOccurs="0">
        <xsd:element ref="odb:range" maxOccurs="unbounded" />
        <xsd:element ref="odb:regexp" />
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <!--command statement-->
  <xsd:element name="statement">
    <xsd:complexType>
      <xsd:choice minOccurs="1" maxOccurs="unbounded">
        <xsd:element ref="odb:text" />
        <xsd:element ref="odb:eval" />
      </xsd:choice>
      <xsd:attribute name="label" type="xsd:string" use="optional"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="text" type="xsd:string"></xsd:element>
  <xsd:element name="eval">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute name="format" type="xsd:string"></xsd:attribute>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <!--status-->
  <xsd:element name="status">
    <xsd:complexType>
      <xsd:choice minOccurs="1" maxOccurs="unbounded">
        <xsd:element ref="odb:group"></xsd:element>
        <xsd:element ref="odb:repeat"></xsd:element>
      </xsd:choice>
      <xsd:attribute name="ref" type="xsd:string" use="optional" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="group">
    <xsd:complexType>
      <xsd:choice minOccurs="1" maxOccurs="unbounded">
        <xsd:element ref="odb:repeat" />
        <xsd:element ref="odb:var" />
      </xsd:choice>
      <xsd:attribute name="label" type="xsd:string" use="optional" />
      <xsd:attribute name="ref" type="xsd:string" use="optional" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="var">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="odb:value" />
      </xsd:choice>
      <xsd:attributeGroup ref="odb:id_attr"></xsd:attributeGroup>
      <xsd:attribute name="symbol" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="value">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="odb:string" />
        <xsd:element ref="odb:binary" />
        <xsd:element ref="odb:float" />
        <xsd:element ref="odb:int" />
      </xsd:choice>
      <xsd:attribute name="format" type="xsd:string" use="required" />
    </xsd:complexType>
  </xsd:element>
  <!--data type in value-->
  <xsd:element name="binary">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute name="bit" type="xsd:int" use="required" />
          <xsd:attribute name="inv" type="xsd:boolean" />
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="float">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute name="decimal" type="xsd:integer" />
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="int">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute name="signed" type="xsd:boolean" />
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="string" type="xsd:string"></xsd:element>
  <!--symbol-->
  <xsd:element name="symbols">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="odb:symbol" minOccurs="1" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="symbol">
    <xsd:complexType>
      <xsd:choice minOccurs="0">
        <xsd:element ref="odb:enum" minOccurs="1" maxOccurs="unbounded" />
      </xsd:choice>
      <xsd:attributeGroup ref="odb:id_attr"></xsd:attributeGroup>
      <xsd:attribute name="type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ENUM"></xsd:enumeration>
            <xsd:enumeration value="FLOAT" />
            <xsd:enumeration value="INT" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:attributeGroup name="symbol_attr">
    <xsd:attribute name="msg" type="xsd:string" use="required" />
    <xsd:attribute name="hl" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="normal" />
          <xsd:enumeration value="warn" />
          <xsd:enumeration value="alarm" />
          <xsd:enumeration value="hide" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:attributeGroup>
  <xsd:element name="enum">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element ref="odb:regexp" minOccurs="0" maxOccurs="1" />
        <xsd:element ref="odb:range" minOccurs="1" maxOccurs="unbounded"></xsd:element>
      </xsd:choice>
      <xsd:attributeGroup ref="odb:symbol_attr" />
    </xsd:complexType>
  </xsd:element>
  <!--cases-->
  <xsd:simpleType name="rerange">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="^(-?\d+(\.\d+)?&lt;?)?:(&lt;?-?\d+(\.\d+)?)?" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="range" type="odb:rerange"></xsd:element>
  <xsd:element name="regexp" type="xsd:string" />
</xsd:schema>