schema/repeat.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--Repeat-->
  <xsd:attributeGroup name="repeat">
    <xsd:attribute name="from" use="required" type="xsd:int" />
    <xsd:attribute name="to" use="required" type="xsd:int" />
    <xsd:attribute name="counter" type="xsd:token" />
    <xsd:attribute name="format" type="xsd:token" />
  </xsd:attributeGroup>
</xsd:schema>