schema/sdb.xsd

<?xml version="1.0" encoding="shift_jis"?>
<xsd:schema targetNamespace="http://ciax.sum.naoj.org/ciax-xml/sdb" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sdb="http://ciax.sum.naoj.org/ciax-xml/sdb" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="range.xsd" />
  <xsd:element name="sdb">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="sdb:symbol" minOccurs="1" maxOccurs="1" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:attributeGroup name="id_attr">
    <xsd:attribute name="id" type="xsd:string" use="optional" />
    <xsd:attribute name="label" type="xsd:string" use="optional"></xsd:attribute>
  </xsd:attributeGroup>
  <!--symbol-->
  <xsd:element name="symbol">
    <xsd:complexType>
      <xsd:choice maxOccurs="unbounded">
        <xsd:element ref="sdb:enum" />
        <xsd:element ref="sdb:regexp" />
        <xsd:element ref="sdb:range" />
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="enum">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element ref="sdb:case" minOccurs="1" maxOccurs="unbounded" />
      </xsd:choice>
      <xsd:attributeGroup ref="sdb:id_attr"></xsd:attributeGroup>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="regexp">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element ref="sdb:case" minOccurs="1" maxOccurs="unbounded" />
      </xsd:choice>
      <xsd:attributeGroup ref="sdb:id_attr"></xsd:attributeGroup>
    </xsd:complexType>
  </xsd:element>
  <xsd:attributeGroup name="symbol_attr">
    <xsd:attribute name="class" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="normal" />
          <xsd:enumeration value="warn" />
          <xsd:enumeration value="alarm" />
          <xsd:enumeration value="hide" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="val" type="xsd:string" use="required" />
  </xsd:attributeGroup>
  <!--cases-->
  <xsd:element name="range">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element ref="sdb:case" minOccurs="1" maxOccurs="unbounded" />
      </xsd:choice>
      <xsd:attributeGroup ref="sdb:id_attr"></xsd:attributeGroup>
      <xsd:attribute name="type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="FLOAT" />
            <xsd:enumeration value="INT" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="case">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attributeGroup ref="sdb:symbol_attr" />
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>