schema/sdb.xsd

<?xml version="1.0" encoding="shift_jis"?>
<xsd:schema targetNamespace="http://ciax.sum.naoj.org/ciax-xml/sdb" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sdb="http://ciax.sum.naoj.org/ciax-xml/sdb" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="sdb">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="sdb:status" minOccurs="1" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:attributeGroup name="id_attr">
    <xsd:attribute name="id" type="xsd:string" use="optional" />
    <xsd:attribute name="label" type="xsd:string" use="optional"></xsd:attribute>
  </xsd:attributeGroup>
  <xsd:element name="status">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="sdb:symbols" minOccurs="0" maxOccurs="1" />
        <xsd:element ref="sdb:levels" minOccurs="1" maxOccurs="1" />
      </xsd:sequence>
      <xsd:attributeGroup ref="sdb:id_attr"></xsd:attributeGroup>
    </xsd:complexType>
  </xsd:element>
  <!--symbol-->
  <xsd:element name="symbols">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="sdb:symbol" minOccurs="1" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="symbol">
    <xsd:complexType>
      <xsd:choice minOccurs="0">
        <xsd:element ref="sdb:enum" minOccurs="1" maxOccurs="unbounded" />
      </xsd:choice>
      <xsd:attributeGroup ref="sdb:id_attr"></xsd:attributeGroup>
      <xsd:attribute name="type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ENUM"></xsd:enumeration>
            <xsd:enumeration value="FLOAT" />
            <xsd:enumeration value="INT" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:attributeGroup name="symbol_attr">
    <xsd:attribute name="msg" type="xsd:string" use="required" />
    <xsd:attribute name="hl" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="normal" />
          <xsd:enumeration value="warn" />
          <xsd:enumeration value="alarm" />
          <xsd:enumeration value="hide" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:attributeGroup>
  <xsd:element name="enum">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attributeGroup ref="sdb:symbol_attr" />
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <!--cases-->
  <xsd:element name="levels">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="sdb:level" minOccurs="1" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="level">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element ref="sdb:range" minOccurs="1" maxOccurs="unbounded" />
      </xsd:choice>
      <xsd:attributeGroup ref="sdb:id_attr"></xsd:attributeGroup>
      <xsd:attribute name="type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ENUM"></xsd:enumeration>
            <xsd:enumeration value="FLOAT" />
            <xsd:enumeration value="INT" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="rerange">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="^(-?\d+(\.\d+)?&lt;?)?:(&lt;?-?\d+(\.\d+)?)?" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="range">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="sdb:rerange">
          <xsd:attributeGroup ref="sdb:symbol_attr" />
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>