schema/wdb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ciax.sum.naoj.org/ciax-xml/wdb" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wdb="http://ciax.sum.naoj.org/ciax-xml/wdb">
  <xsd:include schemaLocation="repeat.xsd" />
  <xsd:include schemaLocation="condition.xsd" />
  <!--Share-->
  <xsd:element name="repeat">
    <xsd:complexType>
      <xsd:group minOccurs="1" maxOccurs="unbounded" ref="wdb:event"></xsd:group>
      <xsd:attributeGroup ref="wdb:repeat" />
    </xsd:complexType>
  </xsd:element>
  <!--watch events-->
  <xsd:element name="watch">
    <xsd:complexType>
      <xsd:group minOccurs="1" maxOccurs="unbounded" ref="wdb:event"></xsd:group>
      <xsd:attribute name="interval" type="xsd:int" use="required"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:group name="event">
    <xsd:choice>
      <xsd:element ref="wdb:repeat" />
      <xsd:element ref="wdb:event" />
    </xsd:choice>
  </xsd:group>
  <!--continuing-->
  <xsd:element name="event">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="wdb:stat" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element ref="wdb:exec" minOccurs="1" maxOccurs="unbounded" />
      </xsd:sequence>
      <xsd:attribute name="label" type="xsd:token" />
      <xsd:attribute name="interrupt" type="xsd:boolean" />
      <xsd:attribute name="onchange" type="xsd:token" />
      <xsd:attribute name="block" type="xsd:token" />
    </xsd:complexType>
  </xsd:element>
  <!--command-->
  <xsd:element name="stat">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:token">
          <xsd:attribute name="ref" type="xsd:token" use="required" />
          <xsd:attribute name="type">
            <xsd:simpleType>
              <xsd:restriction base="xsd:token">
                <xsd:enumeration value="regexp" />
                <xsd:enumeration value="range" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="exec" type="xsd:token"></xsd:element>
</xsd:schema>