schema/wdb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ciax.sum.naoj.org/ciax-xml/wdb" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wdb="http://ciax.sum.naoj.org/ciax-xml/wdb" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="repeat.xsd" />
  <!--Share-->
  <xsd:element name="repeat">
    <xsd:complexType>
      <xsd:group minOccurs="1" maxOccurs="unbounded" ref="wdb:event"></xsd:group>
      <xsd:attributeGroup ref="wdb:repeat" />
    </xsd:complexType>
  </xsd:element>
  <xsd:attributeGroup name="condition">
    <xsd:attribute name="label" type="xsd:token" />
    <xsd:attribute name="ref" type="xsd:token" use="required"></xsd:attribute>
    <xsd:attribute name="val" type="xsd:token"></xsd:attribute>
    <xsd:attribute name="blocking" type="xsd:token" />
  </xsd:attributeGroup>
  <!--watch events-->
  <xsd:element name="watch">
    <xsd:complexType>
      <xsd:group minOccurs="1" maxOccurs="unbounded" ref="wdb:event"></xsd:group>
      <xsd:attribute name="interval" type="xsd:int" use="required"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:group name="event">
    <xsd:choice>
      <xsd:element ref="wdb:repeat" />
      <xsd:element ref="wdb:onchange" />
      <xsd:element ref="wdb:until" />
      <xsd:element ref="wdb:while" />
      <xsd:element ref="wdb:periodic" />
    </xsd:choice>
  </xsd:group>
  <!--discrete-->
  <xsd:element name="periodic">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="wdb:statement" maxOccurs="unbounded" />
      </xsd:sequence>
      <xsd:attribute name="period" use="required" type="xsd:int"></xsd:attribute>
      <xsd:attribute name="label" type="xsd:token" />
    </xsd:complexType>
  </xsd:element>
  <!--continuing-->
  <xsd:element name="onchange" type="wdb:onexec"></xsd:element>
  <xsd:element name="while" type="wdb:onexec"></xsd:element>
  <xsd:element name="until" type="wdb:onexec"></xsd:element>
  <xsd:complexType name="onexec">
    <xsd:sequence>
      <xsd:element ref="wdb:interrupt" minOccurs="0" />
      <xsd:element ref="wdb:statement" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attributeGroup ref="wdb:condition" />
  </xsd:complexType>
  <xsd:element name="interrupt" type="wdb:statement"></xsd:element>
  <!--statement-->
  <xsd:complexType name="statement">
    <xsd:sequence>
      <xsd:element ref="wdb:argv" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="command" type="xsd:token" use="required" />
  </xsd:complexType>
  <xsd:element name="argv" type="xsd:token"></xsd:element>
  <xsd:element name="statement" type="wdb:statement"></xsd:element>
</xsd:schema>